<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>dashboard</title>
    </head>
    <body>
        <form action="profile" method="POST" enctype="multipart/form-data">
                <input type="file" name="avatar" >
				<input type="submit" value="upload">
        </form>
        <br>
        <br>
        <form action="fetch_video" method="POST">
            <input type="submit" value="get Videos">
        </form>
    </body>
</html>