<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>password</title>
    </head>
    <body>
        <form action="new_pwd" method="POST">
				<input type="text" name="email" placeholder="email" required>
				
				<input type="submit">
			</form>
    </body>
</html>